.form-box {
  padding: 10px;
  border: 2px solid dodgerblue;
  border-radius: 4px; }
  .form-box .row {
    margin: 5px 0; }

.event-row {
  margin: 5px 0;
  border-bottom: 1px solid gray; }

.delete {
  color: red; }
